<div *ngIf="event" class="row">
  <div class="col-md-12">
    <h2 *ngIf="event._id">Vacation Details</h2>
    <h2 *ngIf="!event._id">New Vacation</h2>
  </div>
</div>
<div *ngIf="event" class="row">
  <div>
    <input type="user "[(ngModel)]="event.user">
  </div>
  <div>
    <input type="text" class="form-control" [(ngModel)]="event.type">
  </div>
  <div>
    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
      dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set">
  </div>
  <div>
    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
      dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set">
  </div>
  <div>
    <input type="color" [(ngModel)]="event.color.primary">
  </div>
  <div>
    <input type="color" [(ngModel)]="event.color.secondary">
  </div>
  <div>
    <button class="btn btn-info" *ngIf="event._id" (click)="updateEvent(event); refresh.next()">
      Save
    </button>
  </div>
  <div>
    <button class="btn btn-danger" *ngIf="event._id" (click)="deleteEvent(event); refresh.next()">
      Delete
    </button>
  </div>
  <div>
    <button class="btn btn-primary" *ngIf="!event._id" (click)="createEvent(event); refresh.next()">
      Create
    </button>
  </div>
</div>