<div class="row">
    <div class="col-md-5">
      <h2>Users</h2>
      <ul class="users">
        <li class="list-group-item"
          *ngFor="let user of users"
          (click)="selectUser(user)"
          [class.active]="user === selectedUser">
          <span class="badge" [style.background]="user.color">{{getInitials(user.name)}}</span> 
          {{user.name}}
        </li>
      </ul>
      <button class="btn btn-warning" (click)="createNewUser()">New</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <app-user-details
        [user]="selectedUser"
        [createHandler]="addUser"
        [updateHandler]="updateUser"
        [deleteHandler]="deleteUser">
      </app-user-details>
    </div>
  </div>
