/* Application-wide Styles */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '../node_modules/flatpickr/dist/flatpickr.css'; 

body {
    margin: 2em;
}


mwl-calendar-month-view.team-cal .cal-day-badge {
  background-color: #545454;
}

mwl-calendar-week-view.team-cal .cal-event-title {
  color: aliceblue
}
