h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

select:disabled {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

input:disabled, select:disabled {
  border: none;
  outline:0px;
  background: #fff;
}
td, th {
  text-align: left;
}

.date-column {
  width: 90px;
}

.date-column:disabled {
  width: 80px;
}

.wide-column {
  padding: 0px 30px;
}

.cal-icon {
  position: relative;
  right: 20px;
  color: lightgray;
}