h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

select:disabled {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

input:disabled, select:disabled {
  border: none;
  outline:0px;
  background: #fff;
}
td, th {
  text-align: left;
}

.input-group-addon {
  position: relative;
  top: 7px;
  right: 20px;
  color: rgb(117, 117, 117);
}

.btn-outline-secondary {
  background: #fbfaf4
}

mwl-calendar-month-view.team-cal .cal-day-badge {
  background-color: #383838;
}

