  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
        <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="view = CalendarView.Month"
            [class.active]="view === CalendarView.Month">
            Month view
          </div>
          <div
            class="btn btn-primary"
            (click)="view = CalendarView.Week"
            [class.active]="view === CalendarView.Week">
            Week view
          </div>
        </div>
      </div>
  </div>

  <br>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      class = "team-cal"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="selectEvent($event.event._id)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      class = "team-cal"
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="selectEvent($event.event._id)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
  </div>
  
  <br><br><br>
  
  <h3>
    Event details
  </h3>
  <button
  class="btn btn-primary pull-right"
  (click)="createEvent()">
  Add new
</button>
<div class="clearfix"></div>
<br>
  <table class="table">
  
    <thead>
      <tr>
        <th>Who?</th>
        <th class = "wide-column">Type</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let event of events; let index = index">
        <td>
            <select class="form-control" name="selectUser" 
            [(ngModel)]="event.user"
            [disabled]="selectedEvent != event._id" 
            >
          <option *ngFor="let user of users" value="{{user.username}}">
            {{user.name}}
          </option>
        </select>        
      </td>
        <td>
            <select class="form-control" name="selectType" 
            [(ngModel)]="event.type"
            [disabled]="selectedEvent != event._id">
          <option *ngFor="let key of eventTypeKeys" [ngValue]="key">
            {{eventTypes[key]}}
          </option>
        </select>        
        </td>
        <td>
            <div class="input-group">
                <input
                class="form-control"
                type="text"
                [disabled]="selectedEvent != event._id"
                mwlFlatpickr
                [(ngModel)]="event.start"
                (input)="startDateChanged(event)"
                dateFormat="Y-m-d"
                altFormat="F j, Y H:i"
                placeholder="Not set">
                <span class="input-group-addon"><fa-icon icon="calendar" class="glyphicon" *ngIf="selectedEvent == event._id"></fa-icon>
                </span>
              </div>           
        </td>
        <td>
            <div class="input-group">
                <input
                class="form-control"
                type="text"
                [disabled]="selectedEvent != event._id"
                mwlFlatpickr
                [(ngModel)]="event.end"
                (input)="endDateChanged(event)"
                dateFormat="Y-m-d"
                altFormat="F j, Y H:i"
                placeholder="Not set">
                <span class="input-group-addon"><fa-icon icon="calendar" class="glyphicon" *ngIf="selectedEvent == event._id"></fa-icon>
                </span>
              </div>        
        </td>
        <td>
            <button
            class="btn btn-info"
            (click)="selectEvent(event._id); refresh.next()"
            *ngIf="selectedEvent != event._id">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
          <button
          class="btn btn-info"
          (click)="updateEvent(event); refresh.next()"
          *ngIf="selectedEvent == event._id">
            <fa-icon icon="save" ></fa-icon>
        </button>
      </td>
      <td>
          <button
          class="btn btn-danger"
          (click)="deleteEvent(event._id); refresh.next()">
            <fa-icon icon="trash"></fa-icon>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
